<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proofdev.android_native_alert">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application>
        <meta-data
            android:name="com.onesignal.NotificationServiceExtension"
            android:value="com.proofdev.android_native_alert.NotificationServiceExtension" />

        <service
            android:name=".AlertOverlayService"
            android:exported="false" />
    </application>
</manifest>


